* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
    background: rgb(35,107,189);
    background: linear-gradient(90deg, rgba(35,107,189,1) 0%, rgba(61,58,165,1) 35%, rgba(39,101,186,1) 100%); 
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.header{
    height: 60px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #2C5AB5, #ff48fa);
}

.leftDiv{
    width: 50%;
    display: flex;
    float: left;
    flex-direction: row;
    justify-content: flex-start;
}

.rightDiv{
    width: 50%;
    display: flex;
    float: right;
    flex-direction: row;
    justify-content: flex-end;
}

.Icon{
    width: 50px;
    height: 50px;
    margin: 3% 2%;
    font-size: larger;
    color: white !important;
}

 
.welcome {
       /* font-weight: 200; */
       margin-top: auto !important;
       text-align: center;
       font-size: 1.5rem !important;
       //font-size: 20px;
       letter-spacing: 0px;
       letter-spacing: 0.05rem;
       color: white !important;
       margin: 3% 2% !important;
  }


  .slider {
    position: relative;
    width: 800px;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .slide {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  
  .arrow {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
  }
  
  .nextArrow {
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 999;
    color: #fff;
  }
  
  .backArrow {
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 999;
    color: #fff;
  }
  
  .fa-arrow-right:before, .fa-arrow-left:before {
    color: #222
  }
  
  #vids {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #vids a:first-of-type {
    margin-bottom: 5px;
  }
  
  .VideoPlayer{
    width: 100% !important;
    height: 460px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .carousel .slide {
    min-width: 100% !important;
    margin: 0 !important;
    position: relative !important;
    text-align: center !important;
    background: transparent !important;
}

.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
  margin-top: 120px;
}

.VideoPlayer video {
  width: auto !important;
}