@import 'constants';

.oz-page{
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.oz-page-options{
  padding: 0 1%;
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap;
  //justify-content: center;
  min-height: 60px;
  border-bottom: 1px solid $oz-module-header-border-color;
  margin: 0;
  .oz-spacer {
    width: 10px;
  }
  .oz-spacer2 {
    width: 20px;
  }
}

.oz-page-header{
  padding: 0 1%;
  display: flex;
  flex-direction: row;
  min-height: 60px;
  border-bottom: 1px solid $oz-module-header-border-color;
  margin: 0;
  h3{
    color: $oz-module-header;
    //margin: 0 1% 0 1%;
    align-self: center;
  }
  .fill {
    flex-grow: 1;
  }
  .oz-navigator{
    margin: auto 0 auto 0;
    transform: scale(0.9);
    .mat-button-toggle-checked {
      background-color: $oz-color-9;
      color: $oz-color-19;
      font-weight: bold;
    }
  }
  .oz-spacer {
    width: 10px;
  }
  .oz-spacer2 {
    width: 20px;
  }
  .db-selection{
    .db-title{
    }
    .db-option{
    }
  }
}

.oz-home-root {
  align-items: center;
  margin-top: 1px;
  //align-self: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  //height: 30px;
  //padding: 3px;
  cursor: pointer;
  color: $oz-color-7;
  //background: #ffffff;
  //margin: 12px 0 0 18px;
  .b2h{
    cursor: pointer;
    align-items: center;
    //padding-bottom: 1px;
    display: flex;
    flex-direction: row;
    .mob-icon{
      display: none;
    }
    .desk-icon {
      margin-right: 3px;
      margin-top: -4px;
    }
    .home{
    }
    //span{
    //  margin-left: 2px;
    //  align-self: center;
    //}
    &:hover{
      border-bottom: 1px solid $oz-color-7;
    }
  }
  .crrnt{
    font-weight: 900;
    //padding-bottom: 1px;
    //align-self: center;
    margin: 1px 0 0 5px !important;
  }
}

.oz-page-content{
  position: relative;
  background: $oz-content-background;
  height: 100%;
  width: 100%;
  margin: auto;
  overflow: auto;
  border: $oz-content-border-width solid $oz-content-border-color;
  border-radius: $oz-content-border-radius;
}

.oz-table-container{
  table {
    margin: 12px;
    width: calc(100% - 24px);
    border-collapse: collapse;

    th {
      white-space: nowrap;
      font-size: 11pt;
      font-weight: 800;
      color: $oz-color-9;
      padding: 12px 16px;
      border-bottom: 1px solid $oz-table-border-color;

      .subtitle {
        padding: 4px 0 0;
        font-size: 10pt;
        font-weight: 500;
      }
    }

    tbody {
      tr {
        transition: background 400ms ease;
        td {
          white-space: nowrap;
          transition: background 400ms ease;
          text-align: center;
          font-size: 10pt;
          font-weight: 400;
          color: $oz-color-3;
          padding: 15px;
          border-bottom: 1px solid $oz-table-border-color;
          .editMode{
            cursor: pointer;
            //padding: 2px;
          }
          &.editMode{
            cursor: pointer;
            //padding: 2px;
          }
        }
        &:hover {
          td{
            background: $oz-color-hover !important;
          }
          background: $oz-color-hover;
        }
        &.openedRow {
          background: $oz-color-hover !important;
        }
      }
    }
  }
  .oz-sticky {
    background: $oz-content-background;
    position: sticky;
    &.top {
      top: 0;
      z-index: 1;
    }
    &.left {
      left: 0;
      z-index: 1;
    }
    &.left-top {
      left: 0;
      top: 0;
      z-index: 2;
    }
    &.right {
      right: 0;
    }
    &.bottom {
      bottom: 0;
    }
  }
  .oz-center{
    text-align: center !important;
  }
  .oz-right{
    text-align: right !important;
  }
  .oz-left{
    text-align: left !important;
  }
  .oz-one-line{
    white-space: nowrap;
  }
}

.oz-top-setup{
  margin-top: 4px;
}

.oz-card {
  box-shadow: 3px 2px 10px 1px $oz-color-20 !important;
  border: 1px solid $oz-color-5;
  .oz-card-title {
    color: $oz-color-7;
    font-weight: 900;
    font-size: 21px;
  }
}

.oz-mobile-view-hide{
}

.oz-mobile-view-show{
  display: none !important;
}

.oz-mat-button {
  width: auto;
  color: $oz-color-19;
  background: $oz-color-9;
  margin: auto 0;
  &:disabled {
    width: auto;
    color: $oz-color-19;
    background: $oz-color-4;
  }
  &.no-margin {
    margin: 0;
  }
  &.with-margin {
    margin: auto 5px;
  }
}


.oz-mat-button-maintenance {
  width: 5%;
  color: $oz-color-19;
  background: $oz-color-7;
  margin: auto 0;
  border-radius: 10%;
  &:disabled {
    width: auto;
    color: $oz-color-19;
    background: $oz-color-4;
  }
  &.no-margin {
    margin: 0;
  }
  &.with-margin {
    margin: auto 5px;
  }
}

.oz-home-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  .oz-home-header {
    height: 10%;
    text-align: center;
    width: 100%;
    color: $oz-color-4;
    letter-spacing: 6px;
  }
  .oz-navigator-div {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    width: 100%;
    display: block;
    .oz-navigator-div2 {
      padding-bottom: 5%;
      width: 33%;
      display: inline-block;
      text-align: center;
      .oz-navigator-div3{
        display: flex;
        flex-direction: column;
        box-shadow: 3px 4px 9px 0 $oz-color-5;
        margin-left: 15%;
        border: none;
        border-radius: 6px;
        background: $oz-color-10;
        min-width: 70%;
        min-height: 70%;
        max-width: 70%;
        max-height: 70%;
        .oz-navigator-icon-div {
          padding: 3%;
          min-width: 94%;
          min-height: 84%;
          max-width: 94%;
          max-height: 84%;
          .oz-navigator-icon {
            width: 36px; height: 36px; margin-top: 3%
          }
        }
        .oz-navigator-name {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          padding: 1%;
          border-bottom: 1px solid $oz-color-21;
          color: white;
          margin-top: auto;
          background: $oz-color-21;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          min-width: 98%;
          min-height: 8%;
          max-width: 98%;
          max-height: 8%;
        }
      }
      .oz-navigator-div3:hover{
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        cursor: pointer;
      }
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }

        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }

        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
    }
  }
}

.oz-pop-up {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 12; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: $oz-form-background;
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.oz-pop-up-content {
  overflow: auto;
  background: $oz-color-19;
  border-radius: 5px;
  border: 1px solid white;
  padding: 0 30px 30px 30px;
  top: 2%;
  bottom: 2%;
  left: 2%;
  right: 2%;
  position: absolute;
  h2{
    padding: 12px;
    z-index: 2;
    position: sticky;
    top: 0;
    background: $oz-color-19;
    text-align: center;
    color: $oz-color-3;
    margin-top: 0;
  }
  &.pop-small {
    top: 40% !important;
    left: 20% !important;
    bottom: auto !important;
    right: 20% !important;
    text-align: center;
    padding: 30px !important;
  }
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@media (max-width: $oz-mobile-view-width) {
  .oz-mobile-view-show{
    display: block !important;
  }
  .oz-page-header {
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-wrap: wrap;
    min-height: max-content;
    .oz-navigator{
      transform: scale(0.9);
      margin: 7px auto;
      width: 100%;
      mat-button-toggle{
        width: inherit;
      }
    }
    .db-selection{
      .db-title{
        display: none;
      }
      .db-option{
        float: right;
        width: 70%;
      }
    }
  }
  .oz-order-1 {
    order: 1;
  }
  .oz-order-2 {
    order: 2;
  }
  .oz-order-3 {
    order: 3;
  }
  .oz-order-4 {
    order: 4;
  }
  .oz-order-5 {
    order: 5;
  }
  .oz-mobile-view-hide{
    display: none !important;
  }
  .oz-mobile-center {
    margin: auto !important;
  }
  .oz-home-page{
    .oz-navigator-div{
      .oz-navigator-div2{
        width: 45%;
      }
    }
  }
  .oz-home-root{
    .b2h{
      margin-left: 9px;
      .mob-icon{
        display: block;
        font-weight: 900;
      }
      .desk-icon{
        display: none;
      }
      .home{
        display: none;
      }
    }
    .crrnt{
      display: none;
    }
  }
  .oz-pop-up-content{
    &.pop-small {
      left: 5% !important;
      right: 5% !important;
    }
  }
}
