/* Design standards and units for Oizom template */

// variables

// font sizes
$ozf-h1: 12pt;

// component width
$oz-sidenav-width: 160px;
//$oz-sidenav-width: 0.125 * 100vw;
$oz-color-1: #000000;
$oz-color-2: #283038;
$oz-color-3: #333B44;
$oz-color-4: #808080;
$oz-color-5: #CFCFCF;
$oz-color-6: #F4F4F4;
$oz-color-7: #086B5F;
$oz-color-8: #149179;
$oz-color-9: #15B79C;
$oz-color-10: #0AC9B6;
$oz-color-11: #61E5D5;
$oz-color-12: #77C16D;
$oz-color-13: #E50E2E;
$oz-color-14: #E76027;
$oz-color-15: #EF9C2E;
$oz-color-16: #FFE545;
$oz-color-17: #BECE49;
$oz-color-18: #75C059;
$oz-color-19: #FFFFFF;
$oz-color-20: #E6E7E8;
$oz-color-21: #3e9088;

// analytics background of analytics-type image
$analytics-image-background: #2CAF96;

$display-image-background: #2CAF96;

$primary-color: #2CAF96;

$table-background: #F9F9F9;

$off-white-background: #fffefb;

$oz-color-hover: #F9F9F8;
$oz-color-selected: whitesmoke;
//$oz-content-background: #f7f7f7;
$oz-content-background: $oz-color-19;
$oz-content-border-color: $oz-color-5;
$oz-content-border-width: 0px;
$oz-content-border-radius: 0px;
$oz-module-header: $oz-color-4;
$oz-module-header-border-color: $oz-color-6;
$oz-table-border-color: $oz-color-6;
$oz-common-spacer: 1%;
$oz-mobile-view-width: 750px;
$oz-form-background: rgba(130, 130, 130, 0.9);
